/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f1f1f1;
  height: 200vh;
  line-height: 1.4;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.box {
  border: 6px solid #fff;
  transition: 0.5s ease-in;
  background: #000;
  text-align: center;
}

.box #btn-1 {
  margin: 0.625rem;
}

p {
  margin: 10px auto 10px;
  width: 350px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s ease-in;
}

.box :is(#btn-1, #btn-2) {
  padding: 10px;
  cursor: pointer;
}

.box :is(h4, p) {
  padding: 10px;
}

.show-reponse {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.mousemove {
  z-index: -1;
  height: 40px;
  width: 40px;
  border: 2px solid crimson;
  position: absolute;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}

h2 {
  padding: 20px;
}

figure {
  padding: 20px;
}

figure figcaption {
  margin-bottom: 15px;
}

nav {
  position: fixed;
  top: -50px;
  width: 100%;
  height: 50px;
  background: teal;
  transition: 0.5s ease-in;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav::after {
  content: "";
  height: 150px;
  width: 150px;
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.94), transparent);
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.25s;
  z-index: 20;
  opacity: 0;
  left: var(--x);
  top: var(--y);
}

nav:hover::after {
  opacity: 1;
}

form {
  padding: 20px;
}

.containerBox {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.containerBox .box-1 {
  width: 50%;
  transform: translateX(-200%);
  transition: 0.5s ease-in;
  height: 250px;
  background: tan;
}

.containerBox .box-2 {
  width: 50%;
  transform: translateX(-200%);
  height: 250px;
  background: violet;
  transition: 0.5s ease-in;
}

.app {
  overflow: hidden;
  color: #000;
  display: grid;
  width: 300px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 50px repeat(5, 30px);
  grid-template-areas: "res res res res" "7    8   9   reset"    "4    5   6   reset"     "1    2   3   reset"     "0    dot  plus  minus"     "equal equal times div ";
  border: 2px solid teal;
  border-radius: 4px;
}

h5 {
  text-align: right;
  margin: 7px 10px 0 0;
  font-size: 2rem;
  grid-area: res;
}

button:hover {
  background: #05bebe;
}

#equal {
  grid-area: equal;
}

#clear {
  grid-area: reset;
}
